In [ ]:
!pip install pandas
!pip install pyspark
!pip install pyarrow

In [ ]:
from pyspark.sql import SparkSession
 
# Building the SparkSession and name 
# it :'pandas to spark'
spark = SparkSession.builder.appName(
  "pandas to spark").getOrCreate()

spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

In [3]:
import pandas as pd

data = [[1, 2, 3], [1, 2, 4], [1, 3, 3], [2, 1, 1], [2, 2, 1], [2, 3, 1], [2, 4, 1]]
teacher = pd.DataFrame(data, columns=['teacher_id', 'subject_id', 'dept_id']).astype({'teacher_id':'Int64', 'subject_id':'Int64', 'dept_id':'Int64'})

In [4]:
teacher = spark.createDataFrame(teacher)
teacher.show()

+----------+----------+-------+
|teacher_id|subject_id|dept_id|
+----------+----------+-------+
|         1|         2|      3|
|         1|         2|      4|
|         1|         3|      3|
|         2|         1|      1|
|         2|         2|      1|
|         2|         3|      1|
|         2|         4|      1|
+----------+----------+-------+

In [10]:
from pyspark.sql.functions import count

teacher \
.drop_duplicates(['teacher_id', 'subject_id']) \
.groupby('teacher_id') \
.agg(count('subject_id').alias('cnt')) \
.show()

+----------+---+
|teacher_id|cnt|
+----------+---+
|         1|  2|
|         2|  4|
+----------+---+