In [ ]:
!pip install pandas
!pip install pyspark
!pip install pyarrow

In [ ]:
from pyspark.sql import SparkSession
 
# Building the SparkSession and name 
# it :'pandas to spark'
spark = SparkSession.builder.appName(
  "pandas to spark").getOrCreate()

spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

In [3]:
import pandas as pd

data = [[3, 'Mila', 9, 60301], [12, 'Antonella', None, 31000], [13, 'Emery', None, 67084], [1, 'Kalel', 11, 21241], [9, 'Mikaela', None, 50937], [11, 'Joziah', 6, 28485]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'manager_id', 'salary']).astype({'employee_id':'Int64', 'name':'object', 'manager_id':'Int64', 'salary':'Int64'})

In [4]:
employees = spark.createDataFrame(employees)
employees.show()

+-----------+---------+----------+------+
|employee_id|     name|manager_id|salary|
+-----------+---------+----------+------+
|          3|     Mila|         9| 60301|
|         12|Antonella|      NULL| 31000|
|         13|    Emery|      NULL| 67084|
|          1|    Kalel|        11| 21241|
|          9|  Mikaela|      NULL| 50937|
|         11|   Joziah|         6| 28485|
+-----------+---------+----------+------+

In [10]:
employees \
.where(f"""salary < 30000
       and manager_id is not null
       and manager_id not in {tuple(employees[['employee_id']] \
                              .toPandas()['employee_id'] \
                              .tolist())}
       """) \
.select('employee_id') \
.sort('employee_id') \
.show()

+-----------+
|employee_id|
+-----------+
|         11|
+-----------+